<div class="profile">

  @if(carregando()) {

  <div class="loading">
    Carregando dados...
  </div>

  }

  @else if(erro()) {

  <div class="error">
    {{ erro() }}
  </div>

  }

  @else if(usuario(); as user) {

  <div class="profile-card">

    <h1>Dados do Perfil</h1>

    <div class="profile-info">

      <div class="info-item">
        <strong>User ID: </strong>
        <span>{{ user.id }}</span>
      </div>

      <div class="info-item">
        <strong>Nome: </strong>
        <span>{{ user.name }}</span>
      </div>

      <div class="info-item">
        <strong>Email: </strong>
        <span>{{ user.email }}</span>
      </div>

      <hr>
      <div class="info-item">
        <strong>Criado em: </strong>
        <span>{{ user.userCreatedAt | date:'dd/MM/yyyy HH:mm' }}</span>
      </div>

      <div class="info-item">
        <strong>Atualizado em: </strong>
        <span>
          {{ user.userUpdatedAt | date:'dd/MM/yyyy HH:mm' }}
        </span>
      </div>

    </div>


    <button class="btn-editar" routerLink="/home/profile/edit">

      Editar perfil

    </button>


  </div>

  }

</div>
